<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="easydel.gonew.mapper.alertlogs">
	<select id="selectAlertLogsByUserId" parameterType="string"
		resultType="AlertLog">
		select		*
		from		ALERT_LOGS
		where		user_id=#{userId}
	</select>
	<select id="countAlertLogsByUserId" parameterType="string"
		resultType="integer">
		select		count(*)
		from		ALERT_LOGS
		where		user_id=#{userId}
	</select>
	<insert id="insertAlertLog" parameterType="AlertLog">
		insert into	ALERT_LOGS(user_id, alert_comment, alert_status)
		values(#{userId}, #{alertComment}, #{alertStatus})
	</insert>
	<delete id="deleteAlertLogByAlertId" parameterType="integer">
		delete from	ALERT_LOGS
		where		alert_id=#{alertId}
	</delete>
	<select id="countRequestsBeforeEvalByUserId" parameterType="string"
		resultType="integer">
		select		count(*)
		from		REQUESTS R
		join		COMPLETE_DELIVERYS C
		on			R.request_id=C.request_id
		where		(R.sender_id=#{userId})
		and			(C.sender_evalstatus=1)
		or			(R.courier_id=#{userId})
		and			(C.courier_evalstatus=1)
	</select>
</mapper>