<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="easydel.gonew.mapper.requests">
	<select id="selectRequestSender" parameterType="string">
		select		R.request_id as request_id,
					R.cargo_name as cargo_name,
					U.user_id as user_id,
					U.courier_avg_time as courier_avg_time,
					U.courier_avg_kind as courier_avg_kind,
					U.courier_avg_safe as courier_avg_safe,
					U.courier_totalcnt as courier_totalcnt,
					U.courier_successcnt as courier_successcnt,
					R.request_status as request_status,
					C.sender_evalstatus as sender_evalstatus
		from		REQUESTS R
		left join	USERS U
		on			R.courier_id=U.user_id
		left join	COMPLETE_DELIVERYS C
		on			R.request_id=C.request_id
		where		R.sender_id=#{userId}
		and			R.report_status=null
	</select>
</mapper>
