<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="easydel.gonew.mapper.titles">
	<select id="selectAllTitles" resultType="Title">
		select		*
		from		TITLES
	</select>
	<select id="selectTitlesOrderByDefault" parameterType="hashmap" resultType="Title">
		select		*
		from		(
						select		ROWNUM as RNUM, T.*
						from		titles T
						<where>
							<if test="pageNum != null">
								((#{pageNum} - 1) * 5) + 1 &lt;= ROWNUM
							</if>
							<if test="requestStatusFilter != null">
								and request_status = #{requestStatusFilter}
							</if>
							<if test="requestTypeFilter != null">
								and request_type = #{requestTypeFilter}
							</if>
							<if test="userId != null">
								and sender_id&lt;&gt;#{userId}
							</if>
						</where>
					)
		<where>
			<if test="pageNum != null">
				(#{pageNum} * 5) + 1 &gt; RNUM
			</if>
		</where>
	</select>
	<select id="selectTitlesOrderByPrice" parameterType="hashmap" resultType="Title">
		select		*
		from		(
						select		ROWNUM as RNUM, T.*
						from		titles T
						<where>
							<if test="pageNum != null">
								((#{pageNum} - 1) * 5) + 1 &lt;= ROWNUM
							</if>
							<if test="requestStatusFilter != null">
								and request_status = #{requestStatusFilter}
							</if>
							<if test="requestTypeFilter != null">
								and request_type = #{requestTypeFilter}
							</if>
							<if test="userId != null">
								and sender_id&lt;&gt;#{userId}
							</if>
						</where>
						order by	delivery_price DESC
					)
		<where>
			<if test="pageNum != null">
				(#{pageNum} * 5) + 1 &gt; RNUM
			</if>
		</where>
	</select>
	<select id="selectTitlesOrderBySenderAvg" parameterType="hashmap" resultType="Title">
		select		*
		from		(
						select		ROWNUM as RNUM, T.*
						from		titles T
						<where>
							<if test="pageNum != null">
								((#{pageNum} - 1) * 5) + 1 &lt;= ROWNUM
							</if>
							<if test="requestStatusFilter != null">
								and request_status = #{requestStatusFilter}
							</if>
							<if test="requestTypeFilter != null">
								and request_type = #{requestTypeFilter}
							</if>
							<if test="userId != null">
								and sender_id&lt;&gt;#{userId}
							</if>
						</where>
						order by	sender_avg DESC
					)
		<where>
			<if test="pageNum != null">
				(#{pageNum} * 5) + 1 &gt; RNUM
			</if>
		</where>
	</select>
	<select id="selectTitlesOrderByExpireDate" parameterType="hashmap" resultType="Title">
		select		*
		from		(
						select		ROWNUM as RNUM, T.*
						from		titles T
						<where>
							<if test="pageNum != null">
								((#{pageNum} - 1) * 5) + 1 &lt;= ROWNUM
							</if>
							<if test="requestStatusFilter != null">
								and request_status = #{requestStatusFilter}
							</if>
							<if test="requestTypeFilter != null">
								and request_type = #{requestTypeFilter}
							</if>
							<if test="userId != null">
								and sender_id&lt;&gt;#{userId}
							</if>
						</where>
						<if test="sort == null or sort == 'DESC'">
							order by	expire_date DESC
						</if>
						<if test="sort == 'ASC'">
							order by	expire_date ASC
						</if>
					)
		<where>
			<if test="pageNum != null">
				(#{pageNum} * 5) + 1 &gt; RNUM
			</if>
		</where>
	</select>
</mapper>
