<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="easydel.jll.mapper.requests">
 
 <insert id="insertRequest" parameterType="Requests">
		insert into Requests(sender_id, request_type, cargo_name, delivery_price
			<if test="cargoPicture != null">
				, cargo_picture
			</if>
, cargo_desc, sender_phone, pickup_min_time, pickup_max_time, pickup_place, pickup_place_desc, receiver_name, receiver_phone, arrival_min_time, arrival_max_time, arrival_place, arrival_place_desc,absence_message,expire_date
		)
		
		values(#{senderId}, #{requestType}, #{cargoName}, #{deliveryPrice}
		
			<if test="cargoPicture != null">
				, #{cargoPicture}
			</if>
			
, #{cargoDesc},#{senderPhone}, #{pickupMinTime}, #{pickupMaxTime}, #{pickupPlace}, #{pickupPlaceDesc}, #{receiverName}, #{receiverPhone}, #{arrivalMinTime}, #{arrivalMaxTime}, #{arrivalPlace}, #{arrivalPlaceDesc}, #{absenceMessage}, #{expireDate}
		)
 </insert>
 
 <delete id="deleteRequestrByUserId" parameterType="string">
		delete 	from Users
		where 	user_id=#{userId}
	</delete>
 
 </mapper>