<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="easydel.entity.AddressDong" alias="AddressDong" />
		<typeAlias type="easydel.entity.AddressGu" alias="AddressGu" />
		<typeAlias type="easydel.entity.AlertLog" alias="AlertLog" />
		<typeAlias type="easydel.entity.CompleteDelivery" alias="CompleteDelivery" />
		<typeAlias type="easydel.entity.CourierEval" alias="CourierEval" />
		<typeAlias type="easydel.entity.EdmoneyLog" alias="EdmoneyLog" />
		<typeAlias type="easydel.entity.Report" alias="Report" />
		<typeAlias type="easydel.entity.ReportType" alias="ReportType" />
		<typeAlias type="easydel.entity.Request" alias="Request" />
		<typeAlias type="easydel.entity.RequestCmt" alias="RequestCmt" />
		<typeAlias type="easydel.entity.SenderEval" alias="SenderEval" />
		<typeAlias type="easydel.entity.User" alias="User" />
		<typeAlias type="easydel.entity.Title" alias="Title"/>
		<typeAlias type="easydel.entity.ViewMySendRequest" alias="ViewMySendRequest"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/gonew/titlesMapper.xml"/>
		<mapper resource="mappers/jll/usersMapper.xml"/>
		<mapper resource="mappers/rabbit/userMapper.xml"/>
		<mapper resource="mappers/gonew/dongsMapper.xml"/>
		<mapper resource="mappers/gonew/gusMapper.xml"/>
		<mapper resource="mappers/gonew/alertLogsMapper.xml"/>
		<mapper resource="mappers/type90/reporttypeMapper.xml"/>
		<mapper resource="mappers/jll/requestsMapper.xml"/>
		<mapper resource="mappers/gonew/requestsMapper.xml"/>
	</mappers>
</configuration>
