<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="easydel.rabbit.mapper.eval">
 	<select id="selectCourierByRequestId" parameterType="String"
 		resultType="User">
 		select	* <!-- user_id, user_picture -->
 		from 	USERS
 		where	user_id=(
 							select courier_id
 							from REQUESTS
 							where request_id=#{requestId}
 						)
 	</select>
 	
 	<insert id="insertCourierEval" parameterType="CourierEval">
 		insert into COURIER_EVALS(request_id, courier_id, reg_date, 
 						courier_safe, courier_kind, courier_time
 			<if test="courierCmt != null">
				,courier_cmt
			</if>
		)
		values	(#{requestId}, #{courierId}, #{regDate}, 
				#{courierSafe}, #{courierKind}, #{courierTime}
			<if test="courierCmt != null">
				,#{courierCmt}
			</if>	
		)
 	</insert>

<!-- insert into COURIER_EVALS(request_id, courier_id, reg_date, courier_safe, courier_kind, courier_time, courier_cmt)
values	(123, 'alcohol', sysdate, 1,2,3,'hello'); -->

</mapper>