<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="easydel.rabbit.mapper.user">

	<insert id="insertUser" parameterType="User">
		insert into Users(user_id, user_name, user_password, user_gender, user_birthdate, user_phone, user_email 
			<if test="userPicture != null">
				, user_picture
			</if>
		)
		
		values(#{userId}, #{userName}, #{userPassword}, #{userGender}, #{userBirthdate}, #{userPhone}, #{userEmail}
			<if test="userPicture != null">
				, #{userPicture}
			</if>
		)
	</insert>
	
	<update id="updateUser" parameterType="User">
		update 	Users
		set 	user_password=#{userPassword}, user_phone=#{userPhone}, user_email=#{userEmail}
			<if test="userPicture != null">
				, user_picture=#{userPicture}
			</if>
		where 	user_id=#{userId}
	</update>
</mapper>
