@CHARSET "UTF-8";

*{
	margin: 0; padding:0;
/* 	border: 1px solid red;
 */}
img{ border: 0;}
address{font-style: normal;}
ul, ol{list-style:name;}

#fullbrowser {
	width: 1025px;
	margin: 0px auto;
}
#middlebrowser {
	width: 1009px;
	margin: 150px auto;
}
/* ************************공통 적용********************************* */

div.webkit_box{
	display: -webkit-box;
}

div.row_request{
	/* border: 1px solid red; */
	display: -webkit-box;
	text-align: center;
	height: 50px;
}
div.row_request_extra{
	/* border: 1px solid red; */
	display: -webkit-box;
	height: 40px;
}
div.row_request_extra_long{
	/* border: 1px solid red; */
	display: -webkit-box;
	height: 70px;
}
div.standard_row_request{
	/* border: 1px solid blue; */
	display: -webkit-box;
	text-align: left;
	height: 50px;
	margin-left: 50px;
}
div.standard_row_request_deli_sub{
	display: -webkit-box;
	text-align: left;
	height: 50px;
	margin-left: 150px;
}
div.standard_row_request_reply{
	text-align: left;
	margin-left: 50px;
}
div.standard_row_request_product{
	display: -webkit-box;
	text-align: left;
	height: 50px;
	margin-left: 10px;
}
div.row_standard_text_middle{
	/* border:1px solid black; */
	font-size: 25px;
	margin: 15px 0px;
	width: 300px;
	height: 30px;
	font-weight: bold;
}

div.row_standard_text_middle_sub{
	font-size: 25px;
	margin: 15px 0px;
	width: 300px;
	height: 30px;
	font-weight: bold;
}
div.row_standard_text_middle_product{
	font-size: 25px;
	margin: 15px 0px;
	width: 150px;
	height: 30px;
	font-weight: bold;
}

div.text_middle{
	/* border:1px solid black; */
	font-size: 25px;
	margin: 15px 0px;
	height: 30px;
}
div.text_middle_sub{
	font-size: 22px;
	margin: 15px 0px;
	height: 30px;
}

div.text_middle_extra{
	/* border:1px solid black; */
	font-size: 18px;
	margin: 10px 0px;
}
div.text_middle_extra_long{
	/* border:1px solid black; */
	font-size: 18px;
	margin: 10px 0px;
	width: 850px;
	height: 50px;
	overflow: hidden;
	line-height: 20px;
}

div.text_middle_subject{
	/* border:1px solid black; */
	font-size: 40px;
	margin: 15px 0px;
	height: 30px;
}

div.text_middle_subject_sub{
	font-size: 30px;
	margin: 15px 80px;
	height: 30px;
	color: #400040;
}

div.reply_img_text_middle{
	font-size: 35px;
	margin: 20px 3px;
}

div.replace_hr{
	border: 2px solid #363636;
	margin-right: 400px;
}

div.replace_hr_sub{
	border: 1px solid #808080;
	margin-left: 50px;
}

div.replace_hr_plus{
	border: 1px solid #c0c0c0;
	margin-left: 50px;
}

div.margin_top_10px{
	margin-top: 10px;
}
div.margin_left_50px{
	margin-left: 50px;
}
a.margin_left_50px{
	margin-left: 50px;
}
div.margin_left_20px{
	margin-left: 20px;
}
div.margin_top_80px{
	margin-top: 80px;
}
div.margin_top_40px{
	margin-top: 40px;
}

div.margin_LR_10px{
	margin-left: 10px;
	margin-right: 10px;
}

div.fixed_font_color{
	color: #808080;
}
div.unfixed_font_color{
	color: #a5a5a5;
}
/* 모달을 투명화 시키는 부분 */
div.modal_change{
	background: rgba(0,0,0,0.1);
}
button.recept_deli_btn{
	height: 65px;
	width: 250px;
	font-size: 30px;
}

img.img_fixed_size_extra{
 		width: 150px;
	 	height: 100px;
}


a.atag_color{
	color: #808080;
}
/* ************************개인 div 적용********************************* */
#senderprofimg{
	width: 30px;
	height: 30px;
	margin: 10px 10px;
}
#senderprofimg_main{
	width: 50px;
	height: 50px;
	margin: 0px 10px;
}


/* 프로필 자세히 보기 btn div 설정 */
#my-profbtn{
	/* border: 1px solid pink; */
	margin: 5px 15px;
	text-align: left;
	height: 50px;
}

#searchprofbtn{
	height: 40px;
	width: 200px;
	margin-bottom: 60px;
	font-size: 25px;
}

#wrapper_product_img_div{
	/* border: 1px solid pink; */
	text-align: left;
	margin-left: 30px;
	margin-top: 60px;
	width: 550px;
	height: 350px;
	overflow: hidden;
}

#wrapper_product_img{
	width: 550px;
	height: 350px;
}

#wrapper_product_div{
	margin-left: 30px;
	text-align: left;
	width: 350px;
	height: 500px;
	margin-top: 50px;
	
}

#wrapper_product_details{
	text-align: left;
	height: 50px;
	margin-left: 10px;
}

#wrapper_btn_div{
	height: 50px;
}

#product_detail{
	text-align: left;
	height: 320px;
	width: 310px;
	font-size: 25px;
	overflow: hidden;
	margin-left: 20px;
	line-height:30px;
}

#report_detail{
	/* border:1px solid blue; */
	text-align: left;
	height: 100px;
	width: 630px;
	font-size: 25px;
	overflow: hidden;
	line-height:30px;
}


#add_textarea{
	font-size: 20px;
	line-height: 25px;
	resize: none;
	width: 670px;
	height: 60px;
	overflow: hidden;
}
#imgFileInput{
display: none;
}

#imagePreview{
	height: 60px;
	width: 100px;
	font-size: 26px;
	color: white;
	background-color: #dfd9d0;
	background-position: center center;
	background-size: cover;
	display: inline-block;
	overflow: hidden;
}

#add_reply_btn{
	height: 60px;
	width: 110px;
	font-size: 26px;
}


#wrapper_recept_deli_btn_div{
	margin: 50px 0px;
}


/* #sub_panel{
	margin-left: 44px;
} */
