@CHARSET "UTF-8";
/* 
*{border: 1px solid blue;}  */

* { 
	margin: 0;
	padding: 0;
	position: relative;
}
img{ border: 0;}
address{font-style: normal;}
ul, ol{list-style:name;}

@font-face { 
	font-family: namsan;
	src: url('/EasyDel/webfont/SeoulNamsanM.woff') format('woff');
}
*{
	font-family:namsan;
}
#uk-clearfix{
	width:1025px;
	height:100%;
}
#formcss{
	margin-top: 120px;
	width:1009px;
}
#edchung{
	font-size: 40px;
}
#edchung2{
	font-size: 35px;
	margin: 0px 0px 20px 0px;
}
#edchung3{
	font-size: 40px;
	color: #00B1F2; 
}
#money{
	padding: 8px 7px 8px;
	line-height:30px;
	border-radius: 7px; 
	margin:15px 5px; 
	font-size: 25px; 
	height:30px;
	width:330px;
}
#webkitbox{
	display: -webkit-box;
}
.radioclass{
	margin:35px 15px; 
	font-size: 25px; 
}
#pay_button{
	padding: 15px 10px 15px;
	font-size: 25px;
	margin: 20px 10px 40px 10px;
	width: 240px;
}

div.possible_withdraw_price_Wrapperdiv{
	display: -webkit-box;
	/* float:left; */
	font-size: 25px;
}

#lira_align_left{
	margin: 60px 340px 5px 340px;
}

#poss_withdraw_price_text1{
	float:left;
	width: 160px;
}
#poss_withdraw_price_text2{
	float:left;
	width: 120px;
}


div.possible_withdraw_price_div{
	float:left;
	color: red;
	font-size: 30px;
	width: 90px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}


