@CHARSET "UTF-8";

/*  *{border: 1px solid blue;}  */

img{ border: 0;}
address{font-style: normal;}
ul, ol{list-style:name;}

@font-face { 
	font-family: namsan;
	src: url('/EasyDel/webfont/SeoulNamsanM.woff') format('woff');
}
*{
	font-family:namsan;
}
#uk-clearfix{
	width:1025px;
	height:100%;
}
#formcss{
	margin-top: 120px;
	width:1009px;
}
#edmsg{
	font-size: 40px;
	display: -webkit-box;
}
#bu{
	padding: 15px 10px 15px;
	font-size: 25px;
	margin: 100px 40px;
	width:240px;
	
}
