@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	/* border: 1px solid black;
 */
}

img {
	border: 0;
}

address {
	font-style: normal;
}

ul, ol {
	list-style: name;
}

#footer {
	height: 200px;
	background-color: white;
}

#container {
	margin: 22px auto;
}

a {
	color:  #00B1F2;
}

#a {
	color:  #00B1F2;
}

#b {
	color:  #00B1F2;
}

#c {
	color:  #00B1F2;
}

#d {
	color:  #00B1F2;
}

div.replace_hr{
border: 1px solid #00B1F2;
}