@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	/* 	border: 1px solid black; */
}

img {
	border: 0;
}

address {
	font-style: normal;
}

ul, ol {
	list-style: name;
}

#navbar {
	height: 100px;
	width: 100%;
	color: #444444;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	background-origin: border-box;
	background-color: #00B1F2;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
}

#logo1 {
	margin-top: 15px;
	width: 500px;
	height: 75px;
	overflow: hidden;
}

/* .uk-button-primary {
height: 100%;
color: #ffffff;
background-color: #00B1F2;
border-color: rgba(0, 0, 0, 0.0);
border-bottom-color: rgba(0, 0, 0, 0.4);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
} */
#mainbtn {
	border: 1px solid blue;
	width: 100px;
	height: 100px;
	background-color: #00B1F2;
	border-color: rgba(0, 0, 0, 0.0);
	/* margin: 17px 0px; */
}

#navbtn {
	height: 60px;
}

#profilebtn {
	min-height: 55px;
	min-width: 120px;
	margin-right: 50px;
	/* margin-top: 30px;
	margin-bottom: 30px; */
	/* border: 1px solid blue; */
}

#profilebtnsub {
	/* border: 1px solid blue; */
	margin: 40px 10px;
	font-size: 30px;
	float: right;
	color: white;
	font-weight: bold;
}

#idimg {
	height: 50px;
	width: 55px;
	margin: 27px 0px;
}

#log {
	background-position: center center;
	background-size: cover;
	background-color: transparent;
	border: none;
	display: inline-block;
	height: 50px;
	width: 54px;
	float: left;
	margin: 26px 15px;
	cursor: pointer;
}

#log:HOVER {
	border-radius: 30%;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

@import url(http://fonts.googleapis.com/css?family=Oswald:700);

#numOfAlertLog {
	border-radius: 30%;
	width: 23px;
	height: 20px;
	background-color: red;
	position: absolute;
	color: white;
	left: 45px;
	top: 23px;
	font-family: 'Oswald' !important;
	font-weight: 700;
}

.deletableAlertLog {
	cursor: pointer;
}

#wrapperDivForAlertLogDropDownList:HOVER {
	
}