@CHARSET "UTF-8";

*{
	margin: 0; padding:0;
/* 	border: 1px solid black; */
}
img{ border: 0;}
address{font-style: normal;}
ul, ol{list-style:name;}


#navbar {
height: 60px;
background: #f7f7f7;
color: #444444;
border: 1px solid rgba(0, 0, 0, 0.1);
border-bottom-color: rgba(0, 0, 0, 0.3);
border-radius: 4px;
background-origin: border-box;
background-image: -webkit-linear-gradient(top, #00B1F2, #009BD7);
background-image: linear-gradient(to bottom, #00B1F2, #009BD7);
}

#logo1{
	width: 359px;
	height: 55px;
	overflow: hidden;
}

.uk-button-primary {
height: 100%;
background-color: #009dd8;
color: #ffffff;
background-image: -webkit-linear-gradient(top, #00B1F2, #009BD7);
background-image: linear-gradient(to bottom, #00B1F2, #009BD7);
border-color: rgba(0, 0, 0, 0.2);
border-bottom-color: rgba(0, 0, 0, 0.4);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);

}

#mainbtn{
	width: 80px;
}

#navbtn{
	height: 60px;
}

#profilebtn{
	min-height: 55px;
 	min-width: 120px;
	margin-right: 50px;
}
#profilebtnsub{
	margin: 21px 10px;
	font-size: 30px;
	float: right;	
}

#idimg {
	height: 50px;
	width: 55px;
	margin:5px;
}

#log{
	background-position: center center;
	background-size: cover;
	display: inline-block;
	height: 50px;
	width: 54px;
	border: 1px solid white;
	float: left;
	margin: 5px 15px;
	color: red;

}
