@CHARSET "UTF-8";

*{border:solid 1px blue;} 
*{margin:0px;padding:0px;} 
image{border:0px;}

#uk-clearfix{
	width:1025px;
	height:100%;
}

#logo{
	width: 20%;
	height: 20%;
}

#formcss{
	margin-top: 120px;
	width:1009px;
}

#smallform{
	display: -webkit-box;
	margin:10px;
}

#aaa{
	display: -webkit-box;
}

#leftform{
 	width:120px;
 }
 
 #middleform{
 	width:130px;
 }
 
#rightform{
	max-width: 160px; 
	width: expression(this.width > 500 ? 500: true); 
	height: 210px;
}

#imagePreview{
	background-position: center center;
	background-size: cover;
	height: 160px;
	display: inline-block;
}

#imgFileInput{
	display: none;
}


#my{
	color:skyblue;
}

#null{
	height:50px;
}

