@CHARSET "UTF-8";

/*  *{border:solid 1px blue;}    */ 
@font-face { 
	font-family: namsan;
	src: url('/EasyDel/webfont/SeoulNamsanM.woff') format('woff');
}
*{
	font-family:namsan;
	margin:0px;
	padding:0px;
}

image{border:0px;}
#uk-clearfix{
	width:1025px;
	height:100%;
}
#logo{
	width: 20%;
	height: 20%;
}
#formcss{
	margin-top: 120px;
	width:1009px;
}
#smallform{
	padding:10px 15px 10px;  
	font-size: 25px; 
	border-radius: 8px; 
	margin:15px 0px; 
	display: -webkit-box;
	width:550px;
}
#aaa{
	display: -webkit-box;
}
#leftform{
 	width:300px;
 } 
#leftform2{
 	width:270px;
} 
#middleform{
	width:230px;
}
#rightform{
	width: expression(this.width > 500 ? 500: true); 
	height: 360px;
}
#imagePreview{
	width: 250px;
	height: 250px;
	display:inline-block;
	background-size:250px 250px;
	color:grey;
}
#imgFileInput{
	display: none;
}
#my{
	color:grey;
	border-radius: 5px; 
	padding:10px 5px 10px; 
	line-height: 30px; 
	font-size: 25px;  
}
#userPassword{
	color:grey;
	border-radius: 5px; 
	padding:10px 5px 10px; 
	line-height: 30px; 
	font-size: 25px; 
}
#userPassword2{
	color:grey;
	border-radius: 5px; 
	padding:10px 5px 10px; 
	line-height: 30px; 
	font-size: 25px; 
}
#modifyInfo{
	padding:20px 15px 20px; 
	line-height: 30px; 
	font-size: 25px; 
	border-radius: 5px; 
	margin:15px 0px;  
	width:700px;
}
#icon{
	width:30px;
	height:30px;
}
#telephone{
	padding:20px 15px 20px; 
	line-height: 30px; 
	font-size: 25px; 
	border-radius: 5px; 
	margin:15px 0px;  
	width:700px;
}
#button{
	padding: 5px 7px 5px;
	font-size: 17px;
	margin: 10px 10px;
	width:240px;
}
#button2{
	padding: 5px 7px 5px;
	font-size: 17px;
	margin: 10px 10px;
	width:240px;
	background-color: #BDBDBD;
}
