@CHARSET "UTF-8";
{
	margin: 0; padding:0;
/* 	border: 1px solid red;
 */}
img{ border: 0;}
address{font-style: normal;}
ul, ol{list-style:name;}

#fullbrowser {
	width: 1025px;
	margin: 0px auto;
}

#middlebrowser {
	width: 1009px;
	margin: 20px auto;
}

div.mylistsenderlist{
	width: 1007px;
}

#mylist_sender{
}

div.row_request{
	display: -webkit-box;
}

div.request_box{
	margin: 10px auto;
}

div.row_request{
	margin: 10px 0px;
	border: 1px solid pink;
}
