@CHARSET "UTF-8";

/*  *{border:solid 1px blue;}  */
#uk-clearfix {
	width: 100%;
	height: 100%
}

#courierProfile_formcss {
	width: 1009px;
}

#courierProfile_profilephoto {
	width: 220px;
	width: expression(this.width > 220 ? 220 : true);
	height: 220px;
}

#courierProfile_profileimg {
	width: 220px;
	height: 220px;
}

#courierProfile_profileupform {
	display: -webkit-box;
	height: 300px;
	width: 100%;
}

#courierProfile_profiledate {
	align: left;
}

#courierProfile_profileid {
	height: 35px;
	margin: 10px;
}

#courierProfile_profiletwo {
	display: -webkit-box;
}

#courierProfile_profileupsmallform {
	width: 630px;
}

#courierProfile_profileinfo {
	height: 200px;
}

#courierProfile_profiledangdang {
	display: -webkit-box;
	height: 50px;
}

#courierProfile_profiledangdang2 {
	display: -webkit-box;
	height: 70px;
}

#courierProfile_profilediv {
	width: 170px;
	height: 30px;
	font-size: 22px;
}

#courierProfile_successRate {
	width: 170px;
	height: 30px;
	font-size: 22px;
}
#courierProfile_mainstar_pTime,
#courierProfile_mainstar_pSafe,
#courierProfile_mainstar_pKind {
	width: 180px;
	width: expression(this.width > 180 ? 180 : true);
	height: 33px;
}

#courierProfile_courierimg {
	width: 40px;
	height: 40px;
}

div.replacehr {
	border: 1px solid grey;
}