@CHARSET "UTF-8";

/*  *{border:solid 1px blue;}  */   
#uk-clearfix{
	width:1024px;
	height:100%
}
#formcss{
	width:1009px;
}
#profilephoto{
	width:220px;
	width: expression(this.width > 220 ? 220: true); 
	height:220px;
}
#profileimg{
	width:220px;
	height:220px;
}
#profileupform{
	display: -webkit-box;
	height : 300px;
	width: 100%;
}
#profiledate{
	align:left;
}
#profileid{
	height:35px;
	margin:10px;
}
#profiletwo{
	display: -webkit-box;
}
#profileupsmallform{
	width:630px;
}
#profileinfo{
	height : 200px;
}
#profiledangdang{
	display: -webkit-box;
	height : 50px;
}
#profiledangdang2{
	display: -webkit-box;
	height : 70px;
}
#profilediv{
	width:170px;
	height:30px;
	font-size: 22px;
}
#mainstar{
	width:180px;
	width: expression(this.width > 180 ? 180: true); 
	height:33px;
}
#courierimg{
	width:40px;
	height:40px;
}
div.replacehr{
	border:1px solid grey;
}