@CHARSET "UTF-8";
 
/*   *{border:solid 1px blue;}    */
*{margin:0px;padding:0px;} 
image{border:0px;}
#uk-clearfix{
	width:1024px;
	height:100%
}
#formcss{
	width:1009px;
}
#senderimg{
	width:150px;
	width: expression(this.width > 150 ? 150: true); 
	height:150px;
}
#sendereval{
	display : -webkit-box;
	width : 100%;
	height : 40px;
}
#senderdiv{
	width:200px;
	font-size: 25px;
}
#senderevaltwo{
	display : -webkit-box;
	width : 100%;
	height : 65px;
}
#senderevalimg{
	width:55px;
	width: expression(this.width > 55 ? 55: true); 
	height:55px;
}
div.senderbabo{
	display : -webkit-box;
}
#senderevalcmt{
	font-size:20px;
	line-height: 50px; 
}
img.evalitems{
	width: expression(this.width > 40 ? 40: true); 
	height:40px;
}