@CHARSET "UTF-8";

/*  *{border:solid 1px blue;}    */  
@font-face { 
	font-family: namsan;
	src: url('/EasyDel/webfont/SeoulNamsanM.woff') format('woff');
}
*{
	font-family:namsan;
	margin:0px;
	padding:0px;
}
div.webkit_box{
	display: -webkit-box;
}
#icon{
	width:30px;
	height:30px;
}

input.greycolor{
	color:#7F7F7F;
}

select.greycolor{
	color:#7F7F7F;
	border-radius: 8px; 
	
}
#biyong{
	line-height: 23px; 
	font-size: 20px; 
}
img{ border: 0;}
address{font-style: normal;}
ul, ol{list-style:name;}

#fullbrowser{
	width: 1025px;
	margin: 0 auto;
}
#middlebrowser{
	margin: 150px auto;
	width: 1009px;
}
#imagePreview{
	background-position: center center;
	background-size: cover;
	display: inline-block;
	height: 400px;
	width: 600px;
	border: 1px solid #B0949F;
	border-radius: 8px; 
}

#imgnoticetext{
	margin: 5px auto;
	color: #B5AFAF;
	font-size: 15px;
}

#imgnotice{
	font-size: 29px;
	margin:190px auto;
}
#imgFileInput {
	display: none;
} 

#row1{
	display: -webkit-box;
}
#row2, #row3, #row4{
	display: -webkit-box;
	margin-top:20px;
	
}

#col1, #col2, #startPosGuList, #startPosDongList, #arrivePosGuList, #arrivePosDongList{
	width: 140px;
	height: 40px;
	text-align: left;
	font-size: 25px;
	display:table-cell;vertical-align:middle;
	margin-left: 8px;
}
#col3{
	width: 140px;
	height: 40px;
	text-align: left;
	font-size: 25px;
	display:table-cell;vertical-align:middle;
	margin-left: 8px;
}
#gudiv, #dongdiv,#from,#to{
	height: 40px;
	width: 60px;
	font-size: 25px;
	display:table-cell;vertical-align:middle;
	text-align: center;
}
input.producttext{
	width: 725px;
	height: 40px;
	margin-left: 8px;
	font-size: 20px;
	border-radius: 8px; 
	
}
input.nametext, input.phonetext{
	width: 340px;
	height: 40px;
	margin-left: 8px;
	font-size: 25px;
	border-radius: 8px; 
	
}

input.date{
	width: 360px;	
	height: 40px;
	font-size: 25px;
	margin-left: 8px;
	border-radius: 8px; 
	
}

textarea.productdetails{
	font-size: 20px;
	resize: none;
	width: 725px;
	height: 200px;
	margin-left: 8px;
	overflow: hidden;
	border-radius: 8px; 
	
}

/* placeholder 2줄로 만들 수 있는 css 문 */
::-webkit-input-placeholder::after {
}
#absencemessage{
	display: -webkit-box;
	margin-top: 20px;
}
textarea.absencemessage{
	font-size: 25px;
	resize: none;
	width: 830px;
	height: 100px;
	margin-left: 8px;
	overflow: hidden;
}

input.addressdetails{
	width: 690px;
	height: 40px;
	margin-left: 8px;
	font-size: 25px;
	border-radius: 8px; 
	
}

#my_id{
	display: -webkit-box;
}

#subjectdiv{
	display: -webkit-box;
}

#subject{
	height: 40px;
	font-size: 35px;
	font-weight: 900;
	text-align: center;
	display:table-cell;vertical-align:bottom;
}


#ischeckbox{
	width: 260px;
	font-size: 20px;
	display: -webkit-box;
	margin-left: 20px;
}

input.receiverchk{
	width: 30px;
	height: 30px;
	margin-top: 9px;
	border-radius: 8px; 
	
}
div.chktext{
	width: 250px;
	height: 40px;
	display:table-cell;vertical-align:bottom;
}

#samebtn{
	margin-left: 445px;
}
input.uk-button{
	display: inline-block;
	height: 40px;
	
}
input.greycolor{
	color:#7F7F7F;
}

#biyong{
	line-height: 23px; 
	font-size: 20px; 
}
#allreceiver, #allproductinfo {
	margin: 30px 0px;
}
#subproductinfo{
	margin-top: 20px;
}


#enterbtn{
	padding: 13px 25px 13px;
	width: 300px;
	line-height: 38px;
	font-size: 30px;
	border-radius: 7px;
	margin: 30px 0;
}